# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [1]:
# 記得先 Import 正確的套件
import numpy as np
import pandas as pd

In [2]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [15]:
# 計算每個不同種類 animal 的 age 的平均數
for animals in set(df['animal']):
    print(animals,'age mean : ',df[df['animal']==animals]['age'].mean())

cat age mean :  2.5
snake age mean :  2.5
dog age mean :  5.0

In [22]:
# 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
df.sort_values(['age','visits'],ascending=[True,False])

  animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [23]:
# 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
df.replace(['yes','no'],[True,False])

  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  2.0       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [24]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.623539  0.764723  0.788628
1  0.447064  0.781879  0.708455
2  0.595123  0.898788  0.286511
3  0.848676  0.717032  0.738236
4  0.557385  0.920026  0.410408

In [25]:
#1) 該欄位的平均數
df-df.mean(axis=0)

          0         1         2
0  0.009182 -0.051767  0.202180
1 -0.167294 -0.034611  0.122007
2 -0.019234  0.082298 -0.299936
3  0.234318 -0.099458  0.151788
4 -0.056973  0.103537 -0.176040

In [26]:
#2) 該筆資料平均數
df-df.mean(axis=1)

          0         1         2   3   4
0 -0.102091  0.118924  0.195154 NaN NaN
1 -0.278566  0.136080  0.114981 NaN NaN
2 -0.130507  0.252989 -0.306963 NaN NaN
3  0.123046  0.071233  0.144762 NaN NaN
4 -0.168246  0.274227 -0.183066 NaN NaN

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [27]:
df

          0         1         2
0  0.623539  0.764723  0.788628
1  0.447064  0.781879  0.708455
2  0.595123  0.898788  0.286511
3  0.848676  0.717032  0.738236
4  0.557385  0.920026  0.410408

In [37]:
#1) 哪一比的資料總合最小
print(df.sum(axis=1))
print('\nindex of minimum sum : ',df.sum(axis=1).idxmin(axis=0))

0    2.176891
1    1.937398
2    1.780423
3    2.303944
4    1.887819
dtype: float64

index of minimum sum :  2

In [38]:
#2) 哪一欄位的資料總合最小
print(df.sum(axis=0))
print('\ncol of minimum sum : ',df.sum(axis=0).idxmin(axis=1))

0    3.071787
1    4.082449
2    2.932239
dtype: float64

col of minimum sum :  2